/*css default*/
*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    font-family: 'Fredoka One', sans-serif;
}

body{
    width: 75%;
    margin-top: 40px;
}

/*title*/
header{
    text-align: center;
}

h1{
    color: rgb(235, 48, 157);
}

/*/title*/

/*team*/
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.clear-fix > div{
    height: 120px;
    margin: 18px;
    background-color: black;
}

div img{
    width: calc(100% / 3);
}

.Marco h2{
    float: right;

    color: white;
}

.Laura h2{
    float: right;
    color: white;
}

.Giorgio h2{
    float: right;
    color: white;
}

