/*css default*/
*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    font-family: 'Fredoka One', sans-serif;
}

body{
    width: 80%;
    margin-top: 40px;
}

/*title*/
header{
    text-align: center;
}

h1{
    color: rgb(235, 48, 157);
    margin-bottom: 60px;
}

/*/title*/

/*team*/
.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-fix{
    margin-top: 60px;
    height: 100%;
}

.clear-fix::after{
    content: "";
    display: table;
    clear: both;
}

.clear-fix > div{
    width: 380px;
    height: 135px;
    margin: 40px 12px;
    background-color: black;
}

div img{
    width: calc(100% / 3);
    float: left;
}

.first{
    float: left;
    padding: 7%;
    color: white;
}

.second{
    float: left;
    padding: 7%;
    color: white;
}

.third{
    float: left;
    padding: 6%;
    color: white;
}
/*/team*/