/*css default*/
*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    font-family: 'Fredoka One', sans-serif;
}

body{
    width: 70%;
    margin-top: 40px;
}

header{
    text-align: center;
}

h1{
    color: rgb(235, 48, 157);
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clear-fix{
    content: "";
    display: table;
    clear: both;
}